<a href="https://colab.research.google.com/github/BhavyaSrinivas2003/SpamMail/blob/main/SpamMail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GATHERING DATA from kaggle

In [ ]:
#Installing kaggle module
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

Command Notations:

mkdir--make Directory
cp-- copy
chmod--change mode
json--JavaScriptObjectNotation

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Dataset Command Path

In [ ]:
!kaggle datasets download -d ue153011/spam-mail-detection-dataset

spam-mail-detection-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
#extracting zip file
from zipfile import ZipFile
dataset="/content/spam-mail-detection-dataset.zip"
with ZipFile(dataset,'r')as zip:
  zip.extractall()
  print("The data is extracted")

The data is extracted

In [ ]:
print(dataset)

/content/spam-mail-detection-dataset.zip

PREPARING THE DATA

In [ ]:
#importing standard libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
#importing svm model
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
Dataset=pd.read_csv("/content/spam_mail_data.csv")
print(Dataset)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
Dataset.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
Dataset.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [ ]:
Dataset.shape

(5572, 2)

FINDING NULL VALUES

In [ ]:
Dataset.isnull().sum()

Category    0
Message     0
dtype: int64

Checking wheather the data is balanced or unbalanced

In [ ]:
Dataset["Category"].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

Hence the data is clearly unbalanced. and we need to convert it into Balanced format

CLASSIFYING VALID USER AND FRAUD USER

In [ ]:
valid=Dataset[Dataset.Category=="ham"]
valid

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
6         ham  Even my brother is not like to speak with me. ...
...       ...                                                ...
5565      ham                                       Huh y lei...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[4825 rows x 2 columns]

In [ ]:
fraud=Dataset[Dataset.Category=="spam"]
fraud

     Category                                            Message
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
5        spam  FreeMsg Hey there darling it's been 3 week's n...
8        spam  WINNER!! As a valued network customer you have...
9        spam  Had your mobile 11 months or more? U R entitle...
11       spam  SIX chances to win CASH! From 100 to 20,000 po...
...       ...                                                ...
5537     spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547     spam  Had your contract mobile 11 Mnths? Latest Moto...
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567     spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

CONVERTING TO BALANCED DATA USING SAMPLING

In [ ]:
valid_sample=valid.sample(n=len(fraud))
valid_sample

     Category                                            Message
3239      ham                       Good. No swimsuit allowed :)
1548      ham  Bishan lar nearer... No need buy so early cos ...
449       ham         LOL ... Have you made plans for new years?
2745      ham                          Tick, tick, tick ... Babe
2936      ham                   Yeah, we got one lined up for us
...       ...                                                ...
4721      ham  Forgot to tell ü smth.. Can ü like number the ...
1549      ham                           Me, i dont know again oh
1061      ham  I'm working technical support :)voice process....
1412      ham  somewhere out there beneath the pale moon ligh...
1429      ham  Tell you what, if you make a little spreadshee...

[747 rows x 2 columns]

Rechecking for Balanced Data

In [ ]:
print(valid_sample.shape)
print(fraud.shape)

(747, 2)
(747, 2)

hence the data is balanced.Hence combining both Valid & Fraud Users to form a new dataset

In [ ]:
new_Dataset=pd.concat([valid_sample,fraud],axis=0)
new_Dataset

     Category                                            Message
3239      ham                       Good. No swimsuit allowed :)
1548      ham  Bishan lar nearer... No need buy so early cos ...
449       ham         LOL ... Have you made plans for new years?
2745      ham                          Tick, tick, tick ... Babe
2936      ham                   Yeah, we got one lined up for us
...       ...                                                ...
5537     spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547     spam  Had your contract mobile 11 Mnths? Latest Moto...
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567     spam  This is the 2nd time we have tried 2 contact u...

[1494 rows x 2 columns]

In [ ]:
new_Dataset.head()

     Category                                            Message
3239      ham                       Good. No swimsuit allowed :)
1548      ham  Bishan lar nearer... No need buy so early cos ...
449       ham         LOL ... Have you made plans for new years?
2745      ham                          Tick, tick, tick ... Babe
2936      ham                   Yeah, we got one lined up for us

In [ ]:
new_Dataset.tail()

     Category                                            Message
5537     spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547     spam  Had your contract mobile 11 Mnths? Latest Moto...
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567     spam  This is the 2nd time we have tried 2 contact u...

In [ ]:
new_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1494 entries, 3239 to 5567
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  1494 non-null   object
 1   Message   1494 non-null   object
dtypes: object(2)
memory usage: 35.0+ KB

In [ ]:
new_Dataset.shape

(1494, 2)

Rechecking for Null Values

In [ ]:
new_Dataset.isnull().sum()

Category    0
Message     0
dtype: int64

In [ ]:
new_Dataset["Category"].value_counts()

ham     747
spam    747
Name: Category, dtype: int64

In [ ]:
#label ham as 0 and spam as 1;
new_Dataset.loc[new_Dataset["Category"]=="ham","Category",]=0
new_Dataset.loc[new_Dataset["Category"]=="spam","Category",]=1

Hence the data is balanced.Now,

Splitting the data into 2 variables ---x & y taking target function in y--variable and data in x--variable

In [ ]:
x=new_Dataset["Message"]
x

3239                         Good. No swimsuit allowed :)
1548    Bishan lar nearer... No need buy so early cos ...
449            LOL ... Have you made plans for new years?
2745                            Tick, tick, tick ... Babe
2936                     Yeah, we got one lined up for us
                              ...
5537    Want explicit SEX in 30 secs? Ring 02073162414...
5540    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547    Had your contract mobile 11 Mnths? Latest Moto...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
Name: Message, Length: 1494, dtype: object

In [ ]:
y=new_Dataset.Category
y

3239    0
1548    0
449     0
2745    0
2936    0
       ..
5537    1
5540    1
5547    1
5566    1
5567    1
Name: Category, Length: 1494, dtype: object

Data Standardization

Here x-values are string but in scaler standardisation we are converting values to float hence it is not applicable here..but we take values as it is , because it has to be suitable for all the data

Splitting the data into train_data (80%) and test_data(20%) and taking shuffle_state nothing but random_state as 2

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In above test_size means 20% of test_data

Printing the shapes of train_data and test_data

In [ ]:
print(x.shape,x_train.shape,x_test.shape)

(1494,) (1195,) (299,)

In [ ]:
print(y.shape,y_train.shape,y_test.shape)

(1494,) (1195,) (299,)

In [ ]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words="english", lowercase=True)
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

In [ ]:
#convert y_train and y_test values as integers
y_train=y_train.astype("int")
y_test=y_test.astype("int")

In [ ]:
print(x_train)

1830    Hottest pics straight to your phone!! See me g...
4569    hiya hows it going in sunny africa? hope u r a...
3443    Save money on wedding lingerie at www.bridal.p...
932     Congratulations ore mo owo re wa. Enjoy it and...
2099    No dice, art class 6 thru 9 :( thanks though. ...
                              ...
1584    It's cool, let me know before it kicks off aro...
1899                      Wat would u like 4 ur birthday?
416                   Whatsup there. Dont u want to sleep
714     Save yourself the stress. If the person has a ...
3334    You are being contacted by our dating service ...
Name: Message, Length: 1195, dtype: object

In [ ]:
print(x_train_features)

  (0, 3756)	0.20427915351671946
  (0, 310)	0.163635875484491
  (0, 1649)	0.27352667339415676
  (0, 3343)	0.25852644875513847
  (0, 296)	0.14648595288646155
  (0, 1220)	0.2478836200009467
  (0, 3478)	0.11797362439527333
  (0, 634)	0.25852644875513847
  (0, 3337)	0.1306985686372554
  (0, 3753)	0.23288339536192834
  (0, 1995)	0.12880096777616407
  (0, 3620)	0.27352667339415676
  (0, 3665)	0.25852644875513847
  (0, 1682)	0.2104593370804914
  (0, 2597)	0.16178573467604546
  (0, 3217)	0.2478836200009467
  (0, 2609)	0.43576634144582005
  (0, 1855)	0.27352667339415676
  (1, 2024)	0.26731630109406634
  (1, 3057)	0.29496962559289525
  (1, 2507)	0.2449902534486807
  (1, 890)	0.47932595319047483
  (1, 3388)	0.17256869001338873
  (1, 1712)	0.17256869001338873
  (1, 812)	0.29496962559289525
  :	:
  (1191, 3626)	0.5296168932672095
  (1191, 3523)	0.3415277616540092
  (1191, 2112)	0.4504021529597664
  (1192, 3667)	0.6536360209215238
  (1192, 1377)	0.3981105046078556
  (1192, 3088)	0.5206669132844078
  (1192, 3617)	0.37838332902711586
  (1193, 1380)	0.35671969766276834
  (1193, 3220)	0.35671969766276834
  (1193, 2991)	0.2595063651661622
  (1193, 1325)	0.28415224673200795
  (1193, 2586)	0.312511279355237
  (1193, 2987)	0.17934865998403332
  (1193, 677)	0.5069351999417716
  (1193, 2347)	0.27906890190784783
  (1193, 2942)	0.32327732021537914
  (1193, 1995)	0.1679757287055381
  (1194, 2647)	0.4388450302998228
  (1194, 164)	0.4388450302998228
  (1194, 1201)	0.41477873374991286
  (1194, 1289)	0.3376600644167447
  (1194, 2030)	0.2567413910686755
  (1194, 2996)	0.2672876201207519
  (1194, 2116)	0.2843629292639256
  (1194, 2049)	0.3324955223637455

Using SVM Model

Since here hyper plane divides both spam and ham

Training the model

In [ ]:
classifier=svm.SVC(kernel="linear")

In [ ]:
#train the support vector machine classifier
classifier.fit(x_train_features,y_train)

SVC(kernel='linear')

In [ ]:
print(classifier)

SVC(kernel='linear')

SVC--Support Vector Classifier

Model Evaluation

based on accuracy score

2 ways

* making prediction for the same data i.e test-data
* making prediction for new data

In [ ]:
#finding accuracy_score for the train_data
x_train_prediction= classifier.predict(x_train_features)
training_data_accuracy= accuracy_score(x_train_prediction, y_train)
print("Accuracy score of Train Data: ", training_data_accuracy)

Accuracy score of Train Data:  0.9966527196652719

In [ ]:
#finding accuracy_score for the test_data
x_test_prediction=classifier.predict(x_test_features)
test_data_accuracy= accuracy_score(x_test_prediction, y_test)
print("Accuracy score of Test Data: ", test_data_accuracy)

Accuracy score of Test Data:  0.9698996655518395

Making Prediction

In [ ]:
input_data=["K tell me anything about you."]
input_data_features=feature_extraction.transform(input_data)
prediction=classifier.predict(input_data_features)
print(prediction)
if prediction[0]==0:
  print("The Mail is Ham i.e not Spam")
elif prediction[0]==1:
  print("The Mail is Spam")

[0]
The Mail is Ham i.e not Spam

Saving the trained Model

In [ ]:
import pickle

In [ ]:
filename="trained_model_Spam.sav"
pickle.dump(classifier,open(filename,'wb'))

wb--write in binary form;
rb --read in binary form

In [ ]:
loaded_model=pickle.load(open('trained_model_Spam.sav','rb'))

In [ ]:
input_data=["K tell me anything about you."]

prediction=loaded_model.predict(input_data_features)
print(prediction)
if prediction[0]==0:
  print("The Mail is Ham i.e not Spam")
elif prediction[0]==1:
  print("The Mail is Spam")

[0]
The Mail is Ham i.e not Spam